In [1]:
import numpy as np  # useful for many scientific computing in Python
import pandas as pd # primary data structure library

In [2]:
#read in our data
df_covid_19 = pd.read_excel('G:\\mahbub desktop\\c2.xls',
                       sheet_name='time_series_covid19_confirmed_g',
                       skiprows=range(0),
                       skipfooter=0)
print ('Data read into a pandas dataframe!')

Data read into a pandas dataframe!

In [4]:
#Let's view the top 5 rows of the dataset using the head() function
df_covid_19.head()

,Province/State,Country/Region,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00
0,NaN,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,273,281,299,349,367,423,444,484,521,555
1,NaN,Albania,41.1533,20.1683,0,0,0,0,0,0,...,277,304,333,361,377,383,400,409,416,433
2,NaN,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,986,1171,1251,1320,1423,1468,1572,1666,1761,1825
3,NaN,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,428,439,466,501,525,545,564,583,601,601
4,NaN,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,8,8,10,14,16,17,19,19,19,19

In [6]:
#We can also veiw the bottom 5 rows of the dataset using the tail() function.
df_covid_19.tail()

,Province/State,Country/Region,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-02 00:00:00,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00
259,Saint Pierre and Miquelon,France,46.885200,-56.315900,0,0,0,0,0,0,...,0,0,0,1,1,1,1,1,1,1
260,NaN,South Sudan,6.877000,31.307000,0,0,0,0,0,0,...,0,0,0,1,1,2,2,3,4,4
261,NaN,Western Sahara,24.215500,-12.885800,0,0,0,0,0,0,...,0,0,0,4,4,4,4,4,4,4
262,NaN,Sao Tome and Principe,0.186360,6.613081,0,0,0,0,0,0,...,0,0,0,0,4,4,4,4,4,4
263,NaN,Yemen,15.552727,48.516388,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,1,1

In [7]:
#getting basic information about our dataframe.
df_covid_19.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 264 entries, 0 to 263
Data columns (total 85 columns):
 #   Column               Non-Null Count  Dtype
---  ------               --------------  -----
 0   Province/State       82 non-null     object
 1   Country/Region       264 non-null    object
 2   Lat                  264 non-null    float64
 3   Long                 264 non-null    float64
 4   2020-01-22 00:00:00  264 non-null    int64
 5   2020-01-23 00:00:00  264 non-null    int64
 6   2020-01-24 00:00:00  264 non-null    int64
 7   2020-01-25 00:00:00  264 non-null    int64
 8   2020-01-26 00:00:00  264 non-null    int64
 9   2020-01-27 00:00:00  264 non-null    int64
 10  2020-01-28 00:00:00  264 non-null    int64
 11  2020-01-29 00:00:00  264 non-null    int64
 12  2020-01-30 00:00:00  264 non-null    int64
 13  2020-01-31 00:00:00  264 non-null    int64
 14  2020-02-01 00:00:00  264 non-null    int64
 15  2020-02-02 00:00:00  264 non-null    int64
 16  2020-02-03 00:00:00  264 non-null    int64
 17  2020-02-04 00:00:00  264 non-null    int64
 18  2020-02-05 00:00:00  264 non-null    int64
 19  2020-02-06 00:00:00  264 non-null    int64
 20  2020-02-07 00:00:00  264 non-null    int64
 21  2020-02-08 00:00:00  264 non-null    int64
 22  2020-02-09 00:00:00  264 non-null    int64
 23  2020-02-10 00:00:00  264 non-null    int64
 24  2020-02-11 00:00:00  264 non-null    int64
 25  2020-02-12 00:00:00  264 non-null    int64
 26  2020-02-13 00:00:00  264 non-null    int64
 27  2020-02-14 00:00:00  264 non-null    int64
 28  2020-02-15 00:00:00  264 non-null    int64
 29  2020-02-16 00:00:00  264 non-null    int64
 30  2020-02-17 00:00:00  264 non-null    int64
 31  2020-02-18 00:00:00  264 non-null    int64
 32  2020-02-19 00:00:00  264 non-null    int64
 33  2020-02-20 00:00:00  264 non-null    int64
 34  2020-02-21 00:00:00  264 non-null    int64
 35  2020-02-22 00:00:00  264 non-null    int64
 36  2020-02-23 00:00:00  264 non-null    int64
 37  2020-02-24 00:00:00  264 non-null    int64
 38  2020-02-25 00:00:00  264 non-null    int64
 39  2020-02-26 00:00:00  264 non-null    int64
 40  2020-02-27 00:00:00  264 non-null    int64
 41  2020-02-28 00:00:00  264 non-null    int64
 42  2020-02-29 00:00:00  264 non-null    int64
 43  2020-03-01 00:00:00  264 non-null    int64
 44  2020-03-02 00:00:00  264 non-null    int64
 45  2020-03-03 00:00:00  264 non-null    int64
 46  2020-03-04 00:00:00  264 non-null    int64
 47  2020-03-05 00:00:00  264 non-null    int64
 48  2020-03-06 00:00:00  264 non-null    int64
 49  2020-03-07 00:00:00  264 non-null    int64
 50  2020-03-08 00:00:00  264 non-null    int64
 51  2020-03-09 00:00:00  264 non-null    int64
 52  2020-03-10 00:00:00  264 non-null    int64
 53  2020-03-11 00:00:00  264 non-null    int64
 54  2020-03-12 00:00:00  264 non-null    int64
 55  2020-03-13 00:00:00  264 non-null    int64
 56  2020-03-14 00:00:00  264 non-null    int64
 57  2020-03-15 00:00:00  264 non-null    int64
 58  2020-03-16 00:00:00  264 non-null    int64
 59  2020-03-17 00:00:00  264 non-null    int64
 60  2020-03-18 00:00:00  264 non-null    int64
 61  2020-03-19 00:00:00  264 non-null    int64
 62  2020-03-20 00:00:00  264 non-null    int64
 63  2020-03-21 00:00:00  264 non-null    int64
 64  2020-03-22 00:00:00  264 non-null    int64
 65  2020-03-23 00:00:00  264 non-null    int64
 66  2020-03-24 00:00:00  264 non-null    int64
 67  2020-03-25 00:00:00  264 non-null    int64
 68  2020-03-26 00:00:00  264 non-null    int64
 69  2020-03-27 00:00:00  264 non-null    int64
 70  2020-03-28 00:00:00  264 non-null    int64
 71  2020-03-29 00:00:00  264 non-null    int64
 72  2020-03-30 00:00:00  264 non-null    int64
 73  2020-03-31 00:00:00  264 non-null    int64
 74  2020-04-01 00:00:00  264 non-null    int64
 75  2020-04-02 00:00:00  264 non-null    int64
 76  2020-04-03 00:00:00  264 non-null    int64
 77  2020-04-04 00:00:00  264 non-null    int64
 78  2020-04-05 00:00:00  264 non-null    int64
 79  2020-04-06 00:00:00  264 non-null    int64
 80  2020-04-07 00:00:00  264 non-null    int64
 81  2020-04-08 00:00:00  264 non-null    int64
 82  2020-04-09 00:00:00  264 non-null    int64
 83  2020-04-10 00:00:00  264 non-null    int64
 84  2020-04-11 00:00:00  264 non-null    int64
dtypes: float64(2), int64(81), object(2)
memory usage: 175.4+ KB

In [8]:
#get the list of column headers
df_covid_19.columns.values

array(['Province/State', 'Country/Region', 'Lat', 'Long',
       datetime.datetime(2020, 1, 22, 0, 0),
       datetime.datetime(2020, 1, 23, 0, 0),
       datetime.datetime(2020, 1, 24, 0, 0),
       datetime.datetime(2020, 1, 25, 0, 0),
       datetime.datetime(2020, 1, 26, 0, 0),
       datetime.datetime(2020, 1, 27, 0, 0),
       datetime.datetime(2020, 1, 28, 0, 0),
       datetime.datetime(2020, 1, 29, 0, 0),
       datetime.datetime(2020, 1, 30, 0, 0),
       datetime.datetime(2020, 1, 31, 0, 0),
       datetime.datetime(2020, 2, 1, 0, 0),
       datetime.datetime(2020, 2, 2, 0, 0),
       datetime.datetime(2020, 2, 3, 0, 0),
       datetime.datetime(2020, 2, 4, 0, 0),
       datetime.datetime(2020, 2, 5, 0, 0),
       datetime.datetime(2020, 2, 6, 0, 0),
       datetime.datetime(2020, 2, 7, 0, 0),
       datetime.datetime(2020, 2, 8, 0, 0),
       datetime.datetime(2020, 2, 9, 0, 0),
       datetime.datetime(2020, 2, 10, 0, 0),
       datetime.datetime(2020, 2, 11, 0, 0),
       datetime.datetime(2020, 2, 12, 0, 0),
       datetime.datetime(2020, 2, 13, 0, 0),
       datetime.datetime(2020, 2, 14, 0, 0),
       datetime.datetime(2020, 2, 15, 0, 0),
       datetime.datetime(2020, 2, 16, 0, 0),
       datetime.datetime(2020, 2, 17, 0, 0),
       datetime.datetime(2020, 2, 18, 0, 0),
       datetime.datetime(2020, 2, 19, 0, 0),
       datetime.datetime(2020, 2, 20, 0, 0),
       datetime.datetime(2020, 2, 21, 0, 0),
       datetime.datetime(2020, 2, 22, 0, 0),
       datetime.datetime(2020, 2, 23, 0, 0),
       datetime.datetime(2020, 2, 24, 0, 0),
       datetime.datetime(2020, 2, 25, 0, 0),
       datetime.datetime(2020, 2, 26, 0, 0),
       datetime.datetime(2020, 2, 27, 0, 0),
       datetime.datetime(2020, 2, 28, 0, 0),
       datetime.datetime(2020, 2, 29, 0, 0),
       datetime.datetime(2020, 3, 1, 0, 0),
       datetime.datetime(2020, 3, 2, 0, 0),
       datetime.datetime(2020, 3, 3, 0, 0),
       datetime.datetime(2020, 3, 4, 0, 0),
       datetime.datetime(2020, 3, 5, 0, 0),
       datetime.datetime(2020, 3, 6, 0, 0),
       datetime.datetime(2020, 3, 7, 0, 0),
       datetime.datetime(2020, 3, 8, 0, 0),
       datetime.datetime(2020, 3, 9, 0, 0),
       datetime.datetime(2020, 3, 10, 0, 0),
       datetime.datetime(2020, 3, 11, 0, 0),
       datetime.datetime(2020, 3, 12, 0, 0),
       datetime.datetime(2020, 3, 13, 0, 0),
       datetime.datetime(2020, 3, 14, 0, 0),
       datetime.datetime(2020, 3, 15, 0, 0),
       datetime.datetime(2020, 3, 16, 0, 0),
       datetime.datetime(2020, 3, 17, 0, 0),
       datetime.datetime(2020, 3, 18, 0, 0),
       datetime.datetime(2020, 3, 19, 0, 0),
       datetime.datetime(2020, 3, 20, 0, 0),
       datetime.datetime(2020, 3, 21, 0, 0),
       datetime.datetime(2020, 3, 22, 0, 0),
       datetime.datetime(2020, 3, 23, 0, 0),
       datetime.datetime(2020, 3, 24, 0, 0),
       datetime.datetime(2020, 3, 25, 0, 0),
       datetime.datetime(2020, 3, 26, 0, 0),
       datetime.datetime(2020, 3, 27, 0, 0),
       datetime.datetime(2020, 3, 28, 0, 0),
       datetime.datetime(2020, 3, 29, 0, 0),
       datetime.datetime(2020, 3, 30, 0, 0),
       datetime.datetime(2020, 3, 31, 0, 0),
       datetime.datetime(2020, 4, 1, 0, 0),
       datetime.datetime(2020, 4, 2, 0, 0),
       datetime.datetime(2020, 4, 3, 0, 0),
       datetime.datetime(2020, 4, 4, 0, 0),
       datetime.datetime(2020, 4, 5, 0, 0),
       datetime.datetime(2020, 4, 6, 0, 0),
       datetime.datetime(2020, 4, 7, 0, 0),
       datetime.datetime(2020, 4, 8, 0, 0),
       datetime.datetime(2020, 4, 9, 0, 0),
       datetime.datetime(2020, 4, 10, 0, 0),
       datetime.datetime(2020, 4, 11, 0, 0)], dtype=object)

In [9]:
#get the list of indices
df_covid_19.index.values

array([  0,   1,   2,   3,   4,   5,   6,   7,   8,   9,  10,  11,  12,
        13,  14,  15,  16,  17,  18,  19,  20,  21,  22,  23,  24,  25,
        26,  27,  28,  29,  30,  31,  32,  33,  34,  35,  36,  37,  38,
        39,  40,  41,  42,  43,  44,  45,  46,  47,  48,  49,  50,  51,
        52,  53,  54,  55,  56,  57,  58,  59,  60,  61,  62,  63,  64,
        65,  66,  67,  68,  69,  70,  71,  72,  73,  74,  75,  76,  77,
        78,  79,  80,  81,  82,  83,  84,  85,  86,  87,  88,  89,  90,
        91,  92,  93,  94,  95,  96,  97,  98,  99, 100, 101, 102, 103,
       104, 105, 106, 107, 108, 109, 110, 111, 112, 113, 114, 115, 116,
       117, 118, 119, 120, 121, 122, 123, 124, 125, 126, 127, 128, 129,
       130, 131, 132, 133, 134, 135, 136, 137, 138, 139, 140, 141, 142,
       143, 144, 145, 146, 147, 148, 149, 150, 151, 152, 153, 154, 155,
       156, 157, 158, 159, 160, 161, 162, 163, 164, 165, 166, 167, 168,
       169, 170, 171, 172, 173, 174, 175, 176, 177, 178, 179, 180, 181,
       182, 183, 184, 185, 186, 187, 188, 189, 190, 191, 192, 193, 194,
       195, 196, 197, 198, 199, 200, 201, 202, 203, 204, 205, 206, 207,
       208, 209, 210, 211, 212, 213, 214, 215, 216, 217, 218, 219, 220,
       221, 222, 223, 224, 225, 226, 227, 228, 229, 230, 231, 232, 233,
       234, 235, 236, 237, 238, 239, 240, 241, 242, 243, 244, 245, 246,
       247, 248, 249, 250, 251, 252, 253, 254, 255, 256, 257, 258, 259,
       260, 261, 262, 263], dtype=int64)

In [10]:
#To get the index and columns as lists
df_covid_19.columns.tolist()

['Province/State',
 'Country/Region',
 'Lat',
 'Long',
 datetime.datetime(2020, 1, 22, 0, 0),
 datetime.datetime(2020, 1, 23, 0, 0),
 datetime.datetime(2020, 1, 24, 0, 0),
 datetime.datetime(2020, 1, 25, 0, 0),
 datetime.datetime(2020, 1, 26, 0, 0),
 datetime.datetime(2020, 1, 27, 0, 0),
 datetime.datetime(2020, 1, 28, 0, 0),
 datetime.datetime(2020, 1, 29, 0, 0),
 datetime.datetime(2020, 1, 30, 0, 0),
 datetime.datetime(2020, 1, 31, 0, 0),
 datetime.datetime(2020, 2, 1, 0, 0),
 datetime.datetime(2020, 2, 2, 0, 0),
 datetime.datetime(2020, 2, 3, 0, 0),
 datetime.datetime(2020, 2, 4, 0, 0),
 datetime.datetime(2020, 2, 5, 0, 0),
 datetime.datetime(2020, 2, 6, 0, 0),
 datetime.datetime(2020, 2, 7, 0, 0),
 datetime.datetime(2020, 2, 8, 0, 0),
 datetime.datetime(2020, 2, 9, 0, 0),
 datetime.datetime(2020, 2, 10, 0, 0),
 datetime.datetime(2020, 2, 11, 0, 0),
 datetime.datetime(2020, 2, 12, 0, 0),
 datetime.datetime(2020, 2, 13, 0, 0),
 datetime.datetime(2020, 2, 14, 0, 0),
 datetime.datetime(2020, 2, 15, 0, 0),
 datetime.datetime(2020, 2, 16, 0, 0),
 datetime.datetime(2020, 2, 17, 0, 0),
 datetime.datetime(2020, 2, 18, 0, 0),
 datetime.datetime(2020, 2, 19, 0, 0),
 datetime.datetime(2020, 2, 20, 0, 0),
 datetime.datetime(2020, 2, 21, 0, 0),
 datetime.datetime(2020, 2, 22, 0, 0),
 datetime.datetime(2020, 2, 23, 0, 0),
 datetime.datetime(2020, 2, 24, 0, 0),
 datetime.datetime(2020, 2, 25, 0, 0),
 datetime.datetime(2020, 2, 26, 0, 0),
 datetime.datetime(2020, 2, 27, 0, 0),
 datetime.datetime(2020, 2, 28, 0, 0),
 datetime.datetime(2020, 2, 29, 0, 0),
 datetime.datetime(2020, 3, 1, 0, 0),
 datetime.datetime(2020, 3, 2, 0, 0),
 datetime.datetime(2020, 3, 3, 0, 0),
 datetime.datetime(2020, 3, 4, 0, 0),
 datetime.datetime(2020, 3, 5, 0, 0),
 datetime.datetime(2020, 3, 6, 0, 0),
 datetime.datetime(2020, 3, 7, 0, 0),
 datetime.datetime(2020, 3, 8, 0, 0),
 datetime.datetime(2020, 3, 9, 0, 0),
 datetime.datetime(2020, 3, 10, 0, 0),
 datetime.datetime(2020, 3, 11, 0, 0),
 datetime.datetime(2020, 3, 12, 0, 0),
 datetime.datetime(2020, 3, 13, 0, 0),
 datetime.datetime(2020, 3, 14, 0, 0),
 datetime.datetime(2020, 3, 15, 0, 0),
 datetime.datetime(2020, 3, 16, 0, 0),
 datetime.datetime(2020, 3, 17, 0, 0),
 datetime.datetime(2020, 3, 18, 0, 0),
 datetime.datetime(2020, 3, 19, 0, 0),
 datetime.datetime(2020, 3, 20, 0, 0),
 datetime.datetime(2020, 3, 21, 0, 0),
 datetime.datetime(2020, 3, 22, 0, 0),
 datetime.datetime(2020, 3, 23, 0, 0),
 datetime.datetime(2020, 3, 24, 0, 0),
 datetime.datetime(2020, 3, 25, 0, 0),
 datetime.datetime(2020, 3, 26, 0, 0),
 datetime.datetime(2020, 3, 27, 0, 0),
 datetime.datetime(2020, 3, 28, 0, 0),
 datetime.datetime(2020, 3, 29, 0, 0),
 datetime.datetime(2020, 3, 30, 0, 0),
 datetime.datetime(2020, 3, 31, 0, 0),
 datetime.datetime(2020, 4, 1, 0, 0),
 datetime.datetime(2020, 4, 2, 0, 0),
 datetime.datetime(2020, 4, 3, 0, 0),
 datetime.datetime(2020, 4, 4, 0, 0),
 datetime.datetime(2020, 4, 5, 0, 0),
 datetime.datetime(2020, 4, 6, 0, 0),
 datetime.datetime(2020, 4, 7, 0, 0),
 datetime.datetime(2020, 4, 8, 0, 0),
 datetime.datetime(2020, 4, 9, 0, 0),
 datetime.datetime(2020, 4, 10, 0, 0),
 datetime.datetime(2020, 4, 11, 0, 0)]

In [11]:
df_covid_19.index.tolist()

[0,
 1,
 2,
 3,
 4,
 5,
 6,
 7,
 8,
 9,
 10,
 11,
 12,
 13,
 14,
 15,
 16,
 17,
 18,
 19,
 20,
 21,
 22,
 23,
 24,
 25,
 26,
 27,
 28,
 29,
 30,
 31,
 32,
 33,
 34,
 35,
 36,
 37,
 38,
 39,
 40,
 41,
 42,
 43,
 44,
 45,
 46,
 47,
 48,
 49,
 50,
 51,
 52,
 53,
 54,
 55,
 56,
 57,
 58,
 59,
 60,
 61,
 62,
 63,
 64,
 65,
 66,
 67,
 68,
 69,
 70,
 71,
 72,
 73,
 74,
 75,
 76,
 77,
 78,
 79,
 80,
 81,
 82,
 83,
 84,
 85,
 86,
 87,
 88,
 89,
 90,
 91,
 92,
 93,
 94,
 95,
 96,
 97,
 98,
 99,
 100,
 101,
 102,
 103,
 104,
 105,
 106,
 107,
 108,
 109,
 110,
 111,
 112,
 113,
 114,
 115,
 116,
 117,
 118,
 119,
 120,
 121,
 122,
 123,
 124,
 125,
 126,
 127,
 128,
 129,
 130,
 131,
 132,
 133,
 134,
 135,
 136,
 137,
 138,
 139,
 140,
 141,
 142,
 143,
 144,
 145,
 146,
 147,
 148,
 149,
 150,
 151,
 152,
 153,
 154,
 155,
 156,
 157,
 158,
 159,
 160,
 161,
 162,
 163,
 164,
 165,
 166,
 167,
 168,
 169,
 170,
 171,
 172,
 173,
 174,
 175,
 176,
 177,
 178,
 179,
 180,
 181,
 182,
 183,
 184,
 185,
 186,
 187,
 188,
 189,
 190,
 191,
 192,
 193,
 194,
 195,
 196,
 197,
 198,
 199,
 200,
 201,
 202,
 203,
 204,
 205,
 206,
 207,
 208,
 209,
 210,
 211,
 212,
 213,
 214,
 215,
 216,
 217,
 218,
 219,
 220,
 221,
 222,
 223,
 224,
 225,
 226,
 227,
 228,
 229,
 230,
 231,
 232,
 233,
 234,
 235,
 236,
 237,
 238,
 239,
 240,
 241,
 242,
 243,
 244,
 245,
 246,
 247,
 248,
 249,
 250,
 251,
 252,
 253,
 254,
 255,
 256,
 257,
 258,
 259,
 260,
 261,
 262,
 263]

In [12]:
# size of dataframe (rows, columns)
df_covid_19.shape

(264, 85)

In [13]:
#Data cleaning

#Let's rename the columns so that they make sense
df_covid_19.rename(columns={'Province/State':'State','Country/Region':'Country'}, inplace=True)
df_covid_19.columns

Index([            'State',           'Country',               'Lat',
                    'Long', 2020-01-22 00:00:00, 2020-01-23 00:00:00,
       2020-01-24 00:00:00, 2020-01-25 00:00:00, 2020-01-26 00:00:00,
       2020-01-27 00:00:00, 2020-01-28 00:00:00, 2020-01-29 00:00:00,
       2020-01-30 00:00:00, 2020-01-31 00:00:00, 2020-02-01 00:00:00,
       2020-02-02 00:00:00, 2020-02-03 00:00:00, 2020-02-04 00:00:00,
       2020-02-05 00:00:00, 2020-02-06 00:00:00, 2020-02-07 00:00:00,
       2020-02-08 00:00:00, 2020-02-09 00:00:00, 2020-02-10 00:00:00,
       2020-02-11 00:00:00, 2020-02-12 00:00:00, 2020-02-13 00:00:00,
       2020-02-14 00:00:00, 2020-02-15 00:00:00, 2020-02-16 00:00:00,
       2020-02-17 00:00:00, 2020-02-18 00:00:00, 2020-02-19 00:00:00,
       2020-02-20 00:00:00, 2020-02-21 00:00:00, 2020-02-22 00:00:00,
       2020-02-23 00:00:00, 2020-02-24 00:00:00, 2020-02-25 00:00:00,
       2020-02-26 00:00:00, 2020-02-27 00:00:00, 2020-02-28 00:00:00,
       2020-02-29 00:00:00, 2020-03-01 00:00:00, 2020-03-02 00:00:00,
       2020-03-03 00:00:00, 2020-03-04 00:00:00, 2020-03-05 00:00:00,
       2020-03-06 00:00:00, 2020-03-07 00:00:00, 2020-03-08 00:00:00,
       2020-03-09 00:00:00, 2020-03-10 00:00:00, 2020-03-11 00:00:00,
       2020-03-12 00:00:00, 2020-03-13 00:00:00, 2020-03-14 00:00:00,
       2020-03-15 00:00:00, 2020-03-16 00:00:00, 2020-03-17 00:00:00,
       2020-03-18 00:00:00, 2020-03-19 00:00:00, 2020-03-20 00:00:00,
       2020-03-21 00:00:00, 2020-03-22 00:00:00, 2020-03-23 00:00:00,
       2020-03-24 00:00:00, 2020-03-25 00:00:00, 2020-03-26 00:00:00,
       2020-03-27 00:00:00, 2020-03-28 00:00:00, 2020-03-29 00:00:00,
       2020-03-30 00:00:00, 2020-03-31 00:00:00, 2020-04-01 00:00:00,
       2020-04-02 00:00:00, 2020-04-03 00:00:00, 2020-04-04 00:00:00,
       2020-04-05 00:00:00, 2020-04-06 00:00:00, 2020-04-07 00:00:00,
       2020-04-08 00:00:00, 2020-04-09 00:00:00, 2020-04-10 00:00:00,
       2020-04-11 00:00:00],
      dtype='object')

In [14]:
#add a 'Total' column that sums up the total people by state over the entire period 2020-01-2 to 2020-04-11 , as follows:
df_covid_19['Total'] = df_covid_19.sum(axis=1)

In [15]:
#We can check to see how many null objects we have in the dataset as follows:
df_covid_19.isnull().sum()

State                  182
Country                  0
Lat                      0
Long                     0
2020-01-22 00:00:00      0
                      ...
2020-04-08 00:00:00      0
2020-04-09 00:00:00      0
2020-04-10 00:00:00      0
2020-04-11 00:00:00      0
Total                    0
Length: 86, dtype: int64

In [18]:
#let's view a quick summary of each column in our dataframe using the describe() method
df_covid_19.describe()

,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,2020-01-28 00:00:00,2020-01-29 00:00:00,...,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00,Total
count,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,...,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,264.000000,2.640000e+02
mean,21.317326,22.168315,2.102273,2.477273,3.564394,5.431818,8.022727,11.087121,21.128788,23.356061,...,4151.200758,4535.636364,4818.617424,5095.079545,5401.878788,5723.878788,6042.992424,6408.026515,6710.280303,9.647211e+04
std,24.734994,70.669996,27.382118,27.480921,34.210982,47.612615,66.537101,89.647535,220.011922,221.352587,...,21667.237096,23940.073183,25670.348203,27466.891516,29364.316603,31408.470549,33419.461011,35633.968667,37520.876709,4.840760e+05
min,-51.796300,-135.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,-8.431990e+01
25%,6.969250,-20.026050,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,20.000000,20.750000,21.750000,24.000000,25.750000,27.750000,29.500000,32.000000,33.750000,4.194168e+02
50%,23.488100,20.535638,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,183.000000,189.500000,208.500000,221.000000,232.500000,246.000000,254.500000,256.500000,265.500000,4.453000e+03
75%,41.166075,78.750000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,0.000000,...,943.000000,980.250000,1019.500000,1049.750000,1128.750000,1189.250000,1233.750000,1269.250000,1305.500000,2.388329e+04
max,71.706900,178.065000,444.000000,444.000000,549.000000,761.000000,1058.000000,1423.000000,3554.000000,3554.000000,...,275586.000000,308853.000000,337072.000000,366667.000000,396223.000000,429052.000000,461437.000000,496535.000000,526396.000000,5.142252e+06

In [21]:
#Let's try filtering on the list of countries ('Country')
df_covid_19.Country  # returns a series

0                Afghanistan
1                    Albania
2                    Algeria
3                    Andorra
4                     Angola
               ...
259                   France
260              South Sudan
261           Western Sahara
262    Sao Tome and Principe
263                    Yemen
Name: Country, Length: 264, dtype: object

In [22]:
df_covid_19.State  # returns a series

0                            NaN
1                            NaN
2                            NaN
3                            NaN
4                            NaN
                 ...
259    Saint Pierre and Miquelon
260                          NaN
261                          NaN
262                          NaN
263                          NaN
Name: State, Length: 264, dtype: object

In [23]:
#We have a problem here, some of cells related to state are nan which makes it meaningless while visualization, so
#To remove NaN and replace it with sth more reasonable:
df_covid_19= df_covid_19.apply(lambda x: x.fillna("-")) 
df_covid_19.head()

,State,Country,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00,Total
0,-,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,281,299,349,367,423,444,484,521,555,5556.0000
1,-,Albania,41.1533,20.1683,0,0,0,0,0,0,...,304,333,361,377,383,400,409,416,433,6245.3216
2,-,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1171,1251,1320,1423,1468,1572,1666,1761,1825,20147.6935
3,-,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,439,466,501,525,545,564,583,601,601,8474.0281
4,-,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,8,10,14,16,17,19,19,19,19,211.6712

In [24]:
#Given to we want to visualize based on states and countries, we need a column describing both state and country. 
#Before that, we need to change the type of the columns to str so that we are able to join them
df_covid_19["Country"]= df_covid_19["Country"].astype(str)
df_covid_19["State"]= df_covid_19["State"].astype(str)

In [25]:
#Join two columns
df_covid_19['State_Country'] = df_covid_19[["State", "Country"]].agg('-'.join, axis=1)

In [26]:
df_covid_19['State_Country']

0                         --Afghanistan
1                             --Albania
2                             --Algeria
3                             --Andorra
4                              --Angola
                     ...
259    Saint Pierre and Miquelon-France
260                       --South Sudan
261                    --Western Sahara
262             --Sao Tome and Principe
263                             --Yemen
Name: State_Country, Length: 264, dtype: object

In [27]:
df_covid_19.head()

,State,Country,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00,Total,State_Country
0,-,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,299,349,367,423,444,484,521,555,5556.0000,--Afghanistan
1,-,Albania,41.1533,20.1683,0,0,0,0,0,0,...,333,361,377,383,400,409,416,433,6245.3216,--Albania
2,-,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1251,1320,1423,1468,1572,1666,1761,1825,20147.6935,--Algeria
3,-,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,466,501,525,545,564,583,601,601,8474.0281,--Andorra
4,-,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,10,14,16,17,19,19,19,19,211.6712,--Angola

In [28]:
#to search for data on a country, we need to know the corressponding index value. 
#This can be fixed very easily by setting the 'Country' column as the index using set_index() method
df_covid_19.set_index('State_Country', inplace=True)
# tip: The opposite of set is reset. So to reset the index, we can use df_can.reset_index()

In [29]:
df_covid_19.head()
#here we set countries as indices

,State,Country,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00,Total
State_Country,,,,,,,,,,,,,,,,,,,,,
--Afghanistan,-,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,281,299,349,367,423,444,484,521,555,5556.0000
--Albania,-,Albania,41.1533,20.1683,0,0,0,0,0,0,...,304,333,361,377,383,400,409,416,433,6245.3216
--Algeria,-,Algeria,28.0339,1.6596,0,0,0,0,0,0,...,1171,1251,1320,1423,1468,1572,1666,1761,1825,20147.6935
--Andorra,-,Andorra,42.5063,1.5218,0,0,0,0,0,0,...,439,466,501,525,545,564,583,601,601,8474.0281
--Angola,-,Angola,-11.2027,17.8739,0,0,0,0,0,0,...,8,10,14,16,17,19,19,19,19,211.6712

In [30]:
#Let's view the number of paitents for British Columbia-Canada for example for the following scenarios: 
#1.The full row data (all columns), 
#2.during the perid 2020-01-22 to 2020-03-22. 
#3. For the last week of Aplril in the dataset (2020-04-05 to 2020-04-11)

# 1. the full row data (all columns)
print(df_covid_19.loc['British Columbia-Canada'])

State                  British Columbia
Country                          Canada
Lat                             49.2827
Long                           -123.121
2020-01-22 00:00:00                   0
                             ...
2020-04-08 00:00:00                1291
2020-04-09 00:00:00                1336
2020-04-10 00:00:00                1370
2020-04-11 00:00:00                1445
Total                           22864.2
Name: British Columbia-Canada, Length: 86, dtype: object

In [32]:
days=[]
for i in range(4,len(df_covid_19.columns)-1):
    days.append(df_covid_19.columns[i])
    
print(days)

[datetime.datetime(2020, 1, 22, 0, 0), datetime.datetime(2020, 1, 23, 0, 0), datetime.datetime(2020, 1, 24, 0, 0), datetime.datetime(2020, 1, 25, 0, 0), datetime.datetime(2020, 1, 26, 0, 0), datetime.datetime(2020, 1, 27, 0, 0), datetime.datetime(2020, 1, 28, 0, 0), datetime.datetime(2020, 1, 29, 0, 0), datetime.datetime(2020, 1, 30, 0, 0), datetime.datetime(2020, 1, 31, 0, 0), datetime.datetime(2020, 2, 1, 0, 0), datetime.datetime(2020, 2, 2, 0, 0), datetime.datetime(2020, 2, 3, 0, 0), datetime.datetime(2020, 2, 4, 0, 0), datetime.datetime(2020, 2, 5, 0, 0), datetime.datetime(2020, 2, 6, 0, 0), datetime.datetime(2020, 2, 7, 0, 0), datetime.datetime(2020, 2, 8, 0, 0), datetime.datetime(2020, 2, 9, 0, 0), datetime.datetime(2020, 2, 10, 0, 0), datetime.datetime(2020, 2, 11, 0, 0), datetime.datetime(2020, 2, 12, 0, 0), datetime.datetime(2020, 2, 13, 0, 0), datetime.datetime(2020, 2, 14, 0, 0), datetime.datetime(2020, 2, 15, 0, 0), datetime.datetime(2020, 2, 16, 0, 0), datetime.datetime(2020, 2, 17, 0, 0), datetime.datetime(2020, 2, 18, 0, 0), datetime.datetime(2020, 2, 19, 0, 0), datetime.datetime(2020, 2, 20, 0, 0), datetime.datetime(2020, 2, 21, 0, 0), datetime.datetime(2020, 2, 22, 0, 0), datetime.datetime(2020, 2, 23, 0, 0), datetime.datetime(2020, 2, 24, 0, 0), datetime.datetime(2020, 2, 25, 0, 0), datetime.datetime(2020, 2, 26, 0, 0), datetime.datetime(2020, 2, 27, 0, 0), datetime.datetime(2020, 2, 28, 0, 0), datetime.datetime(2020, 2, 29, 0, 0), datetime.datetime(2020, 3, 1, 0, 0), datetime.datetime(2020, 3, 2, 0, 0), datetime.datetime(2020, 3, 3, 0, 0), datetime.datetime(2020, 3, 4, 0, 0), datetime.datetime(2020, 3, 5, 0, 0), datetime.datetime(2020, 3, 6, 0, 0), datetime.datetime(2020, 3, 7, 0, 0), datetime.datetime(2020, 3, 8, 0, 0), datetime.datetime(2020, 3, 9, 0, 0), datetime.datetime(2020, 3, 10, 0, 0), datetime.datetime(2020, 3, 11, 0, 0), datetime.datetime(2020, 3, 12, 0, 0), datetime.datetime(2020, 3, 13, 0, 0), datetime.datetime(2020, 3, 14, 0, 0), datetime.datetime(2020, 3, 15, 0, 0), datetime.datetime(2020, 3, 16, 0, 0), datetime.datetime(2020, 3, 17, 0, 0), datetime.datetime(2020, 3, 18, 0, 0), datetime.datetime(2020, 3, 19, 0, 0), datetime.datetime(2020, 3, 20, 0, 0), datetime.datetime(2020, 3, 21, 0, 0), datetime.datetime(2020, 3, 22, 0, 0), datetime.datetime(2020, 3, 23, 0, 0), datetime.datetime(2020, 3, 24, 0, 0), datetime.datetime(2020, 3, 25, 0, 0), datetime.datetime(2020, 3, 26, 0, 0), datetime.datetime(2020, 3, 27, 0, 0), datetime.datetime(2020, 3, 28, 0, 0), datetime.datetime(2020, 3, 29, 0, 0), datetime.datetime(2020, 3, 30, 0, 0), datetime.datetime(2020, 3, 31, 0, 0), datetime.datetime(2020, 4, 1, 0, 0), datetime.datetime(2020, 4, 2, 0, 0), datetime.datetime(2020, 4, 3, 0, 0), datetime.datetime(2020, 4, 4, 0, 0), datetime.datetime(2020, 4, 5, 0, 0), datetime.datetime(2020, 4, 6, 0, 0), datetime.datetime(2020, 4, 7, 0, 0), datetime.datetime(2020, 4, 8, 0, 0), datetime.datetime(2020, 4, 9, 0, 0), datetime.datetime(2020, 4, 10, 0, 0), datetime.datetime(2020, 4, 11, 0, 0)]

In [33]:
D=[date_obj.strftime('%Y-%m-%d') for date_obj in days]
D

['2020-01-22',
 '2020-01-23',
 '2020-01-24',
 '2020-01-25',
 '2020-01-26',
 '2020-01-27',
 '2020-01-28',
 '2020-01-29',
 '2020-01-30',
 '2020-01-31',
 '2020-02-01',
 '2020-02-02',
 '2020-02-03',
 '2020-02-04',
 '2020-02-05',
 '2020-02-06',
 '2020-02-07',
 '2020-02-08',
 '2020-02-09',
 '2020-02-10',
 '2020-02-11',
 '2020-02-12',
 '2020-02-13',
 '2020-02-14',
 '2020-02-15',
 '2020-02-16',
 '2020-02-17',
 '2020-02-18',
 '2020-02-19',
 '2020-02-20',
 '2020-02-21',
 '2020-02-22',
 '2020-02-23',
 '2020-02-24',
 '2020-02-25',
 '2020-02-26',
 '2020-02-27',
 '2020-02-28',
 '2020-02-29',
 '2020-03-01',
 '2020-03-02',
 '2020-03-03',
 '2020-03-04',
 '2020-03-05',
 '2020-03-06',
 '2020-03-07',
 '2020-03-08',
 '2020-03-09',
 '2020-03-10',
 '2020-03-11',
 '2020-03-12',
 '2020-03-13',
 '2020-03-14',
 '2020-03-15',
 '2020-03-16',
 '2020-03-17',
 '2020-03-18',
 '2020-03-19',
 '2020-03-20',
 '2020-03-21',
 '2020-03-22',
 '2020-03-23',
 '2020-03-24',
 '2020-03-25',
 '2020-03-26',
 '2020-03-27',
 '2020-03-28',
 '2020-03-29',
 '2020-03-30',
 '2020-03-31',
 '2020-04-01',
 '2020-04-02',
 '2020-04-03',
 '2020-04-04',
 '2020-04-05',
 '2020-04-06',
 '2020-04-07',
 '2020-04-08',
 '2020-04-09',
 '2020-04-10',
 '2020-04-11']

In [34]:
# 1. create the condition boolean series
condition = df_covid_19['Country'] == 'Canada'
print(condition)

State_Country
--Afghanistan                       False
--Albania                           False
--Algeria                           False
--Andorra                           False
--Angola                            False
                                    ...
Saint Pierre and Miquelon-France    False
--South Sudan                       False
--Western Sahara                    False
--Sao Tome and Principe             False
--Yemen                             False
Name: Country, Length: 264, dtype: bool

In [35]:
# 2. pass this condition into the dataFrame
df_covid_19[condition]

,State,Country,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00,Total
State_Country,,,,,,,,,,,,,,,,,,,,,
Alberta-Canada,Alberta,Canada,53.9333,-116.5765,0,0,0,0,0,0,...,969,1075,1181,1250,1373,1373,1423,1451,1567,18984.3568
British Columbia-Canada,British Columbia,Canada,49.2827,-123.1207,0,0,0,0,0,0,...,1174,1203,1203,1266,1266,1291,1336,1370,1445,22864.1620
Grand Princess-Canada,Grand Princess,Canada,37.6489,-122.6655,0,0,0,0,0,0,...,13,13,13,13,13,13,13,13,13,241.9834
Manitoba-Canada,Manitoba,Canada,53.7609,-98.8139,0,0,0,0,0,0,...,182,182,203,203,217,217,221,230,243,2746.9470
New Brunswick-Canada,New Brunswick,Canada,46.5653,-66.4619,0,0,0,0,0,0,...,91,91,98,103,105,105,108,112,112,1550.1034
Newfoundland and Labrador-Canada,Newfoundland and Labrador,Canada,53.1355,-57.6604,0,0,0,0,0,0,...,195,195,217,226,228,228,232,239,241,3217.4751
Nova Scotia-Canada,Nova Scotia,Canada,44.6820,-63.7443,0,0,0,0,0,0,...,207,236,262,293,310,310,342,407,428,4072.9377
Ontario-Canada,Ontario,Canada,51.2538,-85.3232,0,0,0,0,1,1,...,3255,3630,4354,4347,4726,5276,5759,6237,6648,61833.9306
Prince Edward Island-Canada,Prince Edward Island,Canada,46.5107,-63.4168,0,0,0,0,0,0,...,22,22,22,22,22,25,25,25,25,335.0939
Quebec-Canada,Quebec,Canada,52.9399,-73.5491,0,0,0,0,0,0,...,6101,6101,7944,8580,9340,10031,10912,11677,12292,113633.3908
Saskatchewan-Canada,Saskatchewan,Canada,52.9399,-106.4509,0,0,0,0,0,0,...,220,220,249,249,260,260,271,285,289,3820.4890
Diamond Princess-Canada,Diamond Princess,Canada,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0000
Recovered-Canada,Recovered,Canada,0.0000,0.0000,0,0,0,0,0,0,...,0,0,0,0,0,0,0,0,0,0.0000
Northwest Territories-Canada,Northwest Territories,Canada,64.8255,-124.8457,0,0,0,0,0,0,...,2,4,4,5,5,5,5,5,5,-10.0202
Yukon-Canada,Yukon,Canada,64.2823,-135.0000,0,0,0,0,0,0,...,6,6,6,6,7,7,7,8,8,24.2823

In [37]:
#Before we proceed: let's review the changes we have made to our dataframe
print('data dimensions:', df_covid_19.shape)
print(df_covid_19.columns)
df_covid_19.head(2)

data dimensions: (264, 86)
Index([            'State',           'Country',               'Lat',
                    'Long', 2020-01-22 00:00:00, 2020-01-23 00:00:00,
       2020-01-24 00:00:00, 2020-01-25 00:00:00, 2020-01-26 00:00:00,
       2020-01-27 00:00:00, 2020-01-28 00:00:00, 2020-01-29 00:00:00,
       2020-01-30 00:00:00, 2020-01-31 00:00:00, 2020-02-01 00:00:00,
       2020-02-02 00:00:00, 2020-02-03 00:00:00, 2020-02-04 00:00:00,
       2020-02-05 00:00:00, 2020-02-06 00:00:00, 2020-02-07 00:00:00,
       2020-02-08 00:00:00, 2020-02-09 00:00:00, 2020-02-10 00:00:00,
       2020-02-11 00:00:00, 2020-02-12 00:00:00, 2020-02-13 00:00:00,
       2020-02-14 00:00:00, 2020-02-15 00:00:00, 2020-02-16 00:00:00,
       2020-02-17 00:00:00, 2020-02-18 00:00:00, 2020-02-19 00:00:00,
       2020-02-20 00:00:00, 2020-02-21 00:00:00, 2020-02-22 00:00:00,
       2020-02-23 00:00:00, 2020-02-24 00:00:00, 2020-02-25 00:00:00,
       2020-02-26 00:00:00, 2020-02-27 00:00:00, 2020-02-28 00:00:00,
       2020-02-29 00:00:00, 2020-03-01 00:00:00, 2020-03-02 00:00:00,
       2020-03-03 00:00:00, 2020-03-04 00:00:00, 2020-03-05 00:00:00,
       2020-03-06 00:00:00, 2020-03-07 00:00:00, 2020-03-08 00:00:00,
       2020-03-09 00:00:00, 2020-03-10 00:00:00, 2020-03-11 00:00:00,
       2020-03-12 00:00:00, 2020-03-13 00:00:00, 2020-03-14 00:00:00,
       2020-03-15 00:00:00, 2020-03-16 00:00:00, 2020-03-17 00:00:00,
       2020-03-18 00:00:00, 2020-03-19 00:00:00, 2020-03-20 00:00:00,
       2020-03-21 00:00:00, 2020-03-22 00:00:00, 2020-03-23 00:00:00,
       2020-03-24 00:00:00, 2020-03-25 00:00:00, 2020-03-26 00:00:00,
       2020-03-27 00:00:00, 2020-03-28 00:00:00, 2020-03-29 00:00:00,
       2020-03-30 00:00:00, 2020-03-31 00:00:00, 2020-04-01 00:00:00,
       2020-04-02 00:00:00, 2020-04-03 00:00:00, 2020-04-04 00:00:00,
       2020-04-05 00:00:00, 2020-04-06 00:00:00, 2020-04-07 00:00:00,
       2020-04-08 00:00:00, 2020-04-09 00:00:00, 2020-04-10 00:00:00,
       2020-04-11 00:00:00,             'Total'],
      dtype='object')

,State,Country,Lat,Long,2020-01-22 00:00:00,2020-01-23 00:00:00,2020-01-24 00:00:00,2020-01-25 00:00:00,2020-01-26 00:00:00,2020-01-27 00:00:00,...,2020-04-03 00:00:00,2020-04-04 00:00:00,2020-04-05 00:00:00,2020-04-06 00:00:00,2020-04-07 00:00:00,2020-04-08 00:00:00,2020-04-09 00:00:00,2020-04-10 00:00:00,2020-04-11 00:00:00,Total
State_Country,,,,,,,,,,,,,,,,,,,,,
--Afghanistan,-,Afghanistan,33.0000,65.0000,0,0,0,0,0,0,...,281,299,349,367,423,444,484,521,555,5556.0000
--Albania,-,Albania,41.1533,20.1683,0,0,0,0,0,0,...,304,333,361,377,383,400,409,416,433,6245.3216